:root {
  --smoke-orange: #f5a623;
  --smoke-orange-dark: #d88b10;

  --smoke-black: #111111;
  --smoke-dark: #1b1b1b;
  --smoke-border: #333333;

  --smoke-text: #ffffff;
  --smoke-muted: #bdbdbd;
}

.red {
  color: red;
}

body {
  background-color: var(--smoke-black);
  color: var(--smoke-text);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--smoke-text);
  text-decoration: none;
}

a.active {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--smoke-orange);
}

a.button.active {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--smoke-orange);
}

a:visited {
  color: var(--smoke-text);
}

a:hover {
  color: var(--smoke-orange);
}

/* CTA Links */

a.cta {
  color: var(--smoke-orange);
}

a.cta:visited {
  color: var(--smoke-orange);
}

a.cta:hover {
  color: var(--smoke-orange-dark);
}

.cta {
  color: var(--smoke-orange);
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-size: 15px;
  padding: 15px 25px;
  background-color: var(--smoke-orange);
  color: var(--smoke-black);
  font-weight: bold;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

a.button {
  font-size: 15px;
  padding: 15px 25px;
  background-color: var(--smoke-orange);
  color: var(--smoke-black);
  font-weight: bold;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

a.button:hover {
  color: var(--smoke-black);
  background-color: var(--smoke-orange-dark);
}

button:disabled {
  background-color: #777;
}

button:hover {
  color: var(--smoke-black);
  background-color: var(--smoke-orange-dark);
}

button.cta {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--smoke-dark);
  color: var(--smoke-orange);
  border: 1px solid var(--smoke-orange);
}

button.cta:hover {
  background-color: var(--smoke-orange);
  color: var(--smoke-black);
}

input {
  padding: 15px;
  font-size: 20px;
  background-color: var(--smoke-dark);
  color: var(--smoke-text);
  border: 1px solid var(--smoke-border);
}

.button.cta:disabled {
  background-color: #555;
  color: #999;
  border-color: #555;
}