<div class="container">
  <div class="hero">
    <div class="hero-content">
      <h1>Plano's Premium Smoke Shop</h1>
      <p>THCA Flower • Vapes • Glass • Edibles</p>
  
      <a routerLink="/catalog" class="shop-btn">
        Shop Now
      </a>
    </div>
  </div>

<div class="category-header">
  <h2>Shop By Category</h2>
</div>
  <ul class="products-cta">
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Glass'}" class="part">
        <img src="/assets/images/products/glass-1.png" alt="Glass" />
        <div class="part-name">Glass</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Vapes'}" class="part">
        <img src="/assets/images/products/vape-1.png" alt="Vapes" />
        <div class="part-name">Vapes</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Flower'}" class="part">
        <img src="/assets/images/products/flower-1.png" alt="Flower" />
        <div class="part-name">THCa Flower</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Edibles'}" class="part">
        <img src="/assets/images/products/gummies-1.png" alt="Edibles" />
        <div class="part-name">Edibles</div>
      </a>
    </li>
  </ul>

  <div class="white-paper">
    <img src="/assets/images/smoke-shop-outdoors.png" alt="Smoke Shop Outdoors" />
    <div class="text">
      <div>
        <div class="header-text cta">Smoke HQ, Plano, Texas</div>
        <div class="sub-text">
          <p>Come experience the magic of Smoke HQ</p>
          <p>With exlcusive discounts for members only</p>
        </div>
      </div>
      <div class="large-text">
        Visit Our Store
      </div>
      <a href="" class="learn-more">Learn More</a>
    </div>
  </div>
</div>