<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img src="/assets/images/robot-parts/head-friendly.png" alt="Friendly Robot Head" />
    <div class="promo-text">
      <div class="promo-main-text">Welcome to Smoke HQ, your neighborhood favorite smoke shop. Stop in today, open from 6PM to 9PM daily.</div>
      <div class="promo-sub-text cta">
        <div>SAVE 20% ON OUR FRIENDLIEST</div>
        <div>📲 945-400-3536</div>
      </div>
    </div>
    <img src="/assets/images/robot-parts/head-big-eye.png" alt="Big Eye Head" />
  </div>

  <ul class="robot-parts-cta">
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Glass'}" class="part">
        <img src="/assets/images/robot-parts/glass-1.png" alt="Glass" />
        <div>Glass</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Vapes'}" class="part">
        <img src="/assets/images/robot-parts/vape-1.png" alt="Vapes" />
        <div>Vapes</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Flower'}" class="part">
        <img src="/assets/images/robot-parts/flower-1.png" alt="Flower" />
        <div>THCa Flower</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Edibles'}" class="part">
        <img src="/assets/images/robot-parts/gummies-1.png" alt="Edibles" />
        <div>Edibles</div>
      </a>
    </li>
  </ul>

  <div class="white-paper">
    <img src="/assets/images/robot-apocalypse.png" alt="Robot Apocalyse" />
    <div class="text">
      <div>
        <div class="header-text cta">Smoke HQ, Plano, Texas</div>
        <div class="sub-text">
          <p>Come experience the magic of Smoke HQ</p>
          <p>With exlcusive discounts for members only</p>
        </div>
      </div>
      <div class="large-text">Order Now</div>
      <a href="" class="learn-more">Learn More</a>
    </div>
  </div>
</div>